# AWS Cognito Configuration
VITE_COGNITO_USER_POOL_ID=us-east-1_Pi5LBJ3ZG
VITE_COGNITO_CLIENT_ID=4vupgqt07fuia6a9df1fob36g9
VITE_COGNITO_DOMAIN=dev-dispatch-auth.auth.us-east-1.amazoncognito.com

# API Configuration
VITE_API_BASE_URL=https://dev.api.dispatch.newleveltech.net/api/v1

# Environment
VITE_ENV=development
